[Unit]
Description=Prevent sleep when SSH sessions are active
Before=sleep.target
[Service]
Type=oneshot
ExecStart=/bin/sh -c '[ "$(who | grep "pts/")" == "" ]';
[Install]
RequiredBy=sleep.target