[Unit]
Description=Prevent sleep when SSH sessions are active
Before=sleep.target
[Service]
Type=oneshot
ExecStart=/bin/sh -c '/home/deck/.local/trav-steamdeck-scripts/includes/sshd/check-sessions.sh';
[Install]
RequiredBy=sleep.target